.hero {
  height: 80vh;
  background: linear-gradient(
    to right,
    #1f2937,
    #7c3aed
  );
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background-color: hotpink;
}

.featured {
  padding: 50px;
}

.featured h2 {
  text-align: center;
  margin-bottom: 30px;
}